.comment {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-areas:
        "avatar header"
        "avatar message"
        "avatar like"
    ;

    align-items: flex-start;
    justify-items: flex-start;

    column-gap: 1rem;

    margin-top: 1rem;
}

.comment+.comment {
    margin-top: 1.5rem;
}

.comment > img {
    grid-area: avatar;
}

.commentHeader {
    grid-area: header;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    background: var(--gray-700);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    padding: 1rem;
}

.commentHeader>button[type="button"] {
    background: transparent;
    color: var(--gray-400);

    border: none;

    line-height: 0;

    cursor: pointer;

    transition: color 0.2s;
}

.commentHeader>button[type="button"]:hover {
    color: var(--red-500);
}

.authorAndTime time {
    line-height: 1.6;
    font-size: 0.75rem;

    color: var(--gray-400);
}

.authorAndTime strong {
    line-height: 1.6;
    font-size: 0.875rem;

    color: var(--gray-100);
    display: block;
}

.commentContent {
    grid-area: message;

    background: var(--gray-700);
    color: var(--gray-300);

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    font-size: 0.875rem;
    line-height: 1.6;

    padding: 0 1rem 1.5rem;

    width: 100%;
}

.commentLike {
    grid-area: like;

    font-weight: bold;

    color: var(--gray-400);

    margin-top: 1rem;

    display: flex;
    align-items: center;

    cursor: pointer;

    transition: color .2s;
}

.commentLike:hover {
    color: var(--white);
}

.commentLike:has(.active) {
    color: var(--green-300)
}

.commentLike>svg {
    margin-right: 0.5rem;
}

.commentLike span::before {
    content: "\2022";
    padding: 0 0.25rem;
}

@media (max-width: 768px) {.comment {
    column-gap: 0.5rem;
}
}